<!doctype html>
<html lang="en"
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Template</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
<div class="row py-4">
<div class="col-4 px-4 text-start"><h1>Web23</h1></div>
<div class="col-4 px-4 text-start"><h2>Document</h2></div>
<div class="col-4 px-4 text-start text-secondary"><h3>Template</h3></div>
</div>
<div id="1st" class="row py-4">
<ul class="nav nav-tabs px-4">
<li class="nav-item"><a class="nav-link" href="https://www.erasand.ch">erasand</a></li>
<li class="nav-item"><a class="nav-link active" aria-current="page" href="#1st">First</a></li>
<li class="nav-item"><a class="nav-link" href="#2nd">Second</a></li>
<li class="nav-item"><a class="nav-link" href="#3rd">Third</a></li>
</ul>
</div>
<div class="row py-4">
<div class="col px-4">
<h3>Creator</h3>
<address>
Andreas Ulrich<br>
Artherstrasse 13<br>
6300 Zug<br>
</address>

</div>
<div class="col px-4">
<h3>Links</h3>
<div class="list-group">
<a href="https://www.erasand.ch" class="list-group-item list-group-item-action list-group-item-info" target="_blank">www.erasand.ch</a>
<a href="mailto:andreas@erasand.ch" class="list-group-item list-group-item-action list-group-item-info" target="_blank">andreas@erasand.ch</a>
</div>

</div>
</div>
<div id="2nd" class="row py-4">
<ul class="nav nav-tabs px-4">
<li class="nav-item"><a class="nav-link" href="https://www.erasand.ch">erasand</a></li>
<li class="nav-item"><a class="nav-link" href="#1st">First</a></li>
<li class="nav-item"><a class="nav-link active" aria-current="page" href="#2nd">Second</a></li>
<li class="nav-item"><a class="nav-link" href="#3rd">Third</a></li>
</ul>
</div>
<div class="row py-4">
<div class="col px-4">
<h3>Unordered List / Available content types</h3>
<ul class="list-group list-group-flush">
<li class="list-group-item">ADDRESS</li>
<li class="list-group-item">LINKS</li>
<li class="list-group-item">LIST</li>
<li class="list-group-item">NAVBAR</li>
<li class="list-group-item">TABLE</li>
<li class="list-group-item">TEXT</li>
</ul>

</div>
<div class="col px-4">
<h3>Ordered List / Availabe structure types</h3>
<ol class="list-group list-group-flush list-group-numbered">
<li class="list-group-item">DOCU</li>
<li class="list-group-item">CHAP</li>
<li class="list-group-item">----</li>
<li class="list-group-item">====</li>
</ol>

</div>
<div class="col px-4">
<h3>Python scripts</h3>
<table class="table">
<thead>
<tr>
<th scope="col">Name</th>
<th scope="col">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>web23doc.py</td>
<td>Html code generator</td>
</tr>
<tr>
<td>web23data.py</td>
<td>Data objects for content</td>
</tr>
<tr>
<td>web23input.py</td>
<td>Parser for text documents</td>
</tr>
</tbody>
</table>

</div>
</div>
<div class="row py-4">
<div class="col px-4">
<h3></h3>
<p>Andreas Ulrich</p>

</div>
<div class="col px-4">
<h3></h3>
<p>Artherstrasse 13</p>

</div>
<div class="col px-4">
<h3></h3>
<p>6300 Zug</p>

</div>
<div class="col px-4">
<h3></h3>
<p>079 400 64 56</p>

</div>
<div class="col px-4">
<h3></h3>
<p>andreas@erasand.ch</p>

</div>
</div>
<div id="3rd" class="row py-4">
<ul class="nav nav-tabs px-4">
<li class="nav-item"><a class="nav-link" href="https://www.erasand.ch">erasand</a></li>
<li class="nav-item"><a class="nav-link" href="#1st">First</a></li>
<li class="nav-item"><a class="nav-link" href="#2nd">Second</a></li>
<li class="nav-item"><a class="nav-link active" aria-current="page" href="#3rd">Third</a></li>
</ul>
</div>
<div class="row py-4">
<div class="col px-4">
<h3>Text content</h3>
<p>Paragraph 1</p>
<p>Paragraph 2</p>
<p>Paragraph 3</p>
<p>Paragraph 4</p>
<p>Paragraph 5</p>

</div>
<div class="col px-4">
<div id="Text content" class="row py-4">
<ul class="nav nav-tabs px-4">
<li class="nav-item"><a class="nav-link" href="https://www.erasand.ch">erasand</a></li>
<li class="nav-item"><a class="nav-link" href="https://www.python.org">Python</a></li>
<li class="nav-item"><a class="nav-link" href="https://getbootstrap.com/">Bootstrap</a></li>
</ul>
</div>

</div>
<div class="col px-4">
<a href="http://dok.erasand.ch/Template/earth.jpg?image=1" data-toggle="lightbox" data-caption="Our Planet"><img src="http://dok.erasand.ch/Template/earth.jpg?image=1" class="img-fluid img-thumbnail"></a>
<p>Our Planet</p>

</div>
<div class="col px-4">
<h3>Autor</h3>
<p>Andreas Ulrich, 17. April 2023</p>

</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.3/dist/index.bundle.min.js"></script>
</body>
</html>
